body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f8ff;
  color: #333;
}

header {
  background-color: aliceblue;
  color: black;
  padding: 30px 20px;
  text-align: center;
}

header h1 {
  margin-bottom: 10px;
}

main {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.question {
  margin-bottom: 25px;
  padding: 15px;
  background-color: #e3f2fd;
  border-left: 5px solid #1e88e5;
  border-radius: 8px;
}

.question p {
  font-weight: 600;
  margin-bottom: 10px;
}

.question label {
  display: block;
  margin-bottom: 6px;
  padding-left: 10px;
}

button[type="submit"] {
  padding: 12px 25px;
  font-size: 16px;
  background-color: #1e88e5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #1565c0;
}

.result-box {
  margin-top:30px;
  padding:20px;
  background-color: #e3f2fd;
  border-left: 5px solid #1e88e5;
  border-radius: 10px;
}

/* Table styling */
.result-box table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  background-color: #ffffff;
}